<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCzqKvyhyhfcuHz8uOdmGn_jjQIPLenJio</string>
	<key>GCM_SENDER_ID</key>
	<string>659070244201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dhavlaRoadProject</string>
	<key>PROJECT_ID</key>
	<string>dhavla-2024</string>
	<key>STORAGE_BUCKET</key>
	<string>dhavla-2024.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659070244201:ios:653f4d5948e190df9459f8</string>
</dict>
</plist>